<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1.0">
    <title>Wiki Game</title>
    <link rel="stylesheet" href="style/wiki.css">
</head>
<body>
    <div class="navbar">
        <div class="branding">
            <a id="logo-img-wrapper" href=".">
                <img class="logo" src="internet.svg " alt="globe-vector">
            </a>
            <a id="logo-text-wrapper" href=".">Wiki Game</a>
        </div>
        <div id="search-group">
            <div id="src-search-container" class="search-container">
                <input id="src-search" class="searchbox" autocomplete="off" placeholder="Seed Wikipedia URL">
                <div id="search-suggestions"></div>
            </div>
<!--            <div id="dest-search-container" class="search-container">-->
<!--                <input id="dest-search" class="searchbox" autocomplete="off"-->
<!--                       placeholder="Destination Wikipedia URL">-->
<!--                <div id="search-suggestions"></div>-->
<!--            </div>-->
        </div>
        <div class="break"></div>
<!--        <div class="branding" hidden>-->
<!--            <a id="logo-img-wrapper" href=".">-->
<!--                <img class="logo" src="internet.svg " alt="globe-vector">-->
<!--            </a>-->
<!--            <a id="logo-text-wrapper" href=".">Wiki Game</a>-->
<!--        </div>-->
        <div id="button-group">
            <div id="start-crawl-container" class="search-container">
                <div class="form-row">
                    <button type="button" id="start-crawl-button" class="click search-button">
                        Start crawler
                    </button>
                </div>
            </div>
            <div id="pause-crawl-container" class="search-container">
                <div class="form-row">
                    <button type="button" id="pause-crawl-button" class="click search-button">
                        Pause crawler
                    </button>
                </div>
            </div>
            <div id="reset-crawl-container" class="search-container">
                <div class="form-row">
                    <button type="button" id="reset-crawl-button" class="click search-button">
                        Reset crawler
                    </button>
                </div>
            </div>

        </div>

<!--        <div id="refine-container" class="search-container search-container-hidden">-->
<!--            <img id="refine-button" class="dark-click refine" src="filter.svg">-->
<!--            <div id="search-criteria" class="search-criteria-hidden">-->
<!--                <div id="search-options" class="search-options">-->
<!--                    <div class="form-row">-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Min Rent</div>-->
<!--                            <input type="text" id="min-rent" class="parambox" autocomplete="off" placeholder="100" style="color: #333333">-->
<!--                        </div>-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Max Rent</div>-->
<!--                            <input type="text" id="max-rent" class="parambox" autocomplete="off" placeholder="400" style="color: #333333">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-row">-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Room</div>-->
<!--                            <select id="room-type" name="room-type" class="parambox">-->
<!--                                <option value="" selected>All rooms</option>-->
<!--                                <option value="private-room">Private room</option>-->
<!--                                <option value="shared-room">Room shared with others</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Property</div>-->
<!--                            <select id="furnishing-type" name="furnishing" class="parambox">-->
<!--                                <option value="" selected>Any furnishing</option>-->
<!--                                <option value="furnished">Furnished room</option>-->
<!--                                <option value="unfurnished">Unfurnished room</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-row">-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Bathroom</div>-->
<!--                            <select id="bathroom-type" name="bathroom-type" class="parambox">-->
<!--                                <option value="" selected>All bathroom types</option>-->
<!--                                <option value="ensuite">Ensuite bathroom</option>-->
<!--                                <option value="ensuite-or-own">Own bathroom</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Parking</div>-->
<!--                            <select id="parking-type" name="parking" class="parambox">-->
<!--                                <option value="" selected>Any parking</option>-->
<!--                                <option value="no-parking">No parking</option>-->
<!--                                <option value="on-street-parking">On-street parking</option>-->
<!--                                <option value="off-street-parking">Off-street parking</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div id="expensive-refine-container" class="search-container expensive-search-container-hidden">-->
<!--            <div id="expensive-refine-button" class="dark-click refine" style="display: flex; flex-direction: row">-->
<!--                <img src="dollar.svg" style="margin-right: -0.5em; height: 5vh">-->
<!--                <img src="filter.svg" style="height: 5vh">-->
<!--            </div>-->
<!--            <div id="expensive-search-criteria" class="search-criteria-hidden">-->
<!--                <div id="search-options" class="search-options">-->
<!--                    <div class="form-row">-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Travel mode</div>-->
<!--                            <select id="travel-mode" name="travel-mode" class="parambox">-->
<!--                                <option value="driving" selected>🚗 Driving</option>-->
<!--                                <option value="bicycling">🚲 Cycling</option>-->
<!--                                <option value="walking">🚶 Walking</option>-->
<!--                                <option value="transit">Public transit️</option>-->
<!--                            </select>-->
<!--                        </div>️-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Transit mode</div>-->
<!--                            <select id="transit-mode" name="transit-mode" class="parambox">-->
<!--                                <option value="" selected>Any</option>-->
<!--                                <option value="bus">🚌 Bus</option>-->
<!--                                <option value="rail">🚈 Rail</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="form-row">-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Min Time (mins) 👑</div>-->
<!--                            <input type="text" id="min-time" class="parambox" autocomplete="off" placeholder="0" style="color: #333333">-->
<!--                        </div>-->
<!--                        <div class="search-param">-->
<!--                            <div class="param-label">Max Time (mins) 👑 </div>-->
<!--                            <input type="text" id="max-time" class="parambox" autocomplete="off" placeholder="30" style="color: #333333">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="search-container">-->
<!--            <div id="search-button" class="dark-click refine" style="display: flex; flex-direction: row">-->
<!--                <img src="location-search.svg" style="height: 5vh">-->
<!--            </div>-->
<!--        </div>-->
    </div>
    <div id="navbar-margin"></div>
    <div id="content">
        <div id="stats-container">
            <p>   Pages crawled: <span class="stats-value">no data</span></p>
            <p>    Pages queued: <span class="stats-value">no data</span></p>
            <p>    Cluster size: <span class="stats-value">no data</span></p>
            <p>&nbsp;</p>
            <p>1st degree links: <span class="stats-value">no data</span></p>
            <p>2nd degree links: <span class="stats-value">no data</span></p>
            <p>3rd degree links: <span class="stats-value">no data</span></p>
            <p>4th degree links: <span class="stats-value">no data</span></p>
            <p> All Wikis found: <span class="stats-value">no data</span></p>
        </div>
        <div id="graph"></div>
    </div>
    <script id="sigma-script" src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/sigma.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sigma.js/1.2.1/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script id="main-script" src="app.js" defer></script>
</body>
</html>
